<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css/global.css")
</head>
<body>
    <!-- BEGIN TOP -->
    <div class="container">
        <div id="top">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Submit a Story</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
    </div>
    <!-- END TOP -->
    <!-- BEGIN HEADER -->
    <div id="header">
        <div id="logo"> <a href="#"><img src="~/Content/img/wireframe/logo.png" alt="" /></a> </div>
        <div id="ad"> <img src="img/ad-blank.png" alt="" /> </div>
    </div>
    <!-- END HEADER -->
    <!-- BEGIN NAV -->
    <div id="nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Archive</a></li>
            <li><a href="#">Local</a></li>
            <li><a href="#">World</a></li>
            <li><a href="#">Politics</a></li>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Science &amp; Technology</a></li>
            <li class="last"><a href="#">Contact</a></li>
        </ul>
    </div>

    <!-- END NAV -->
    <!-- BEGIN SUB NAV -->
    <div id="sub-nav">
        <ul>
            <li class="title">Stay in the know:</li>
            <li><a href="#">Blogs</a></li>
            <li>|</li>
            <li><a href="#">Video Gallery</a></li>
            <li>|</li>
            <li><img src="~/Content/img/icons/rss.png" alt="" /><a href="#">Subscribe</a></li>
            <li>|</li>
            <li><img src="~/Content/img/icons/twitter.png" alt="" /><a href="#">Twitter</a></li>
        </ul>
    </div>
    <!-- END SUB NAV -->
    <div id="content-wrapper">
        <!-- BEGIN MAIN -->
        <div id="main">
            @RenderBody()
            <hr />
        </div>
        <!-- END SIDEBARS -->
    </div>
    <!-- END CONTENT WRAPPER-->
    <!-- BEGIN EXTRAS -->
    <div id="extras">
        <div id="recommended">
            <h2 class="heading">Recommended Stories</h2>
            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit &raquo;</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit &raquo;</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit &raquo;</a></li>
                <li class="last"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit &raquo;</a></li>
            </ul>
        </div>
        <div id="programs">
            <h2 class="heading">What's On Tonight</h2>
            <img src="~/Content/img/rick.jpg" alt="" /> <img src="img/cbc.png" alt="" />
        </div>
        <div id="cartoon">
            <h2 class="heading">Humour</h2>
            <img src="~/Content/img/cartoon.jpg" alt="" />
        </div>
    </div>
    <!-- END EXTRAS -->
    <footer id="footer">
        <ul>
            <li>&copy; @DateTime.Now.Year</li>
            <li>|</li>
            <li><a href="#">FAQ</a></li>
            <li>|</li>
            <li><a href="#">Privacy Policy</a></li>
            <li>|</li>
            <li><a href="#">Careers</a></li>
            <li>|</li>
            <li><a href="#">Advertise</a></li>
            <li>|</li>
            <li><a href="#">Sitemap</a></li>
            <li>|</li>

        </ul>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
